.profile_pic {
    width: 33vw; 
    height: 33vw; 
    border-radius: 100%; 
    overflow: hidden; 
    position: relative;
    margin-left: 20px;
    float: left;
}

.title_bio {
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    text-align: right;
    margin-right: 10vw;
}

.profile_pic img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.biography_container {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    float: left;
    width: 100%;
}

.title_proj {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.short_bio {
    font-size: calc(2vw + 5px);
    color: #333;
    margin-top: 10px;
    margin-left: 40vw;
}

.project1 {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: calc(1.5vw + 3px);
}

.project1_pic {
    width: 50.33vw; 
    height: 39.33vw; 
    overflow: hidden; 
    position: relative;
    margin-left: 20px;
    float: right;
}

.project1_pic img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    object-position: left;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.project2 {
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: calc(1.5vw + 3px);
}

.project2_pic {
    width: 50.33vw; 
    height: 33.33vw;
    overflow: hidden; 
    position: relative;
    float: left;
}

.project2_pic img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    object-position: center;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.project3 {
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: calc(1.5vw + 3px);
}

.project3_pic {
    width: 60.33vw; 
    height: 33.33vw; 
    overflow: hidden; 
    position: relative;
    margin-left: 20px;
    float: right;
}

.project3_pic img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    object-position: left;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.further_projects {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    width: 100%;
    text-align: center;
}



@media screen and (max-width: 800px) {
    .profile_pic {
        width: 33vw;
        height: 350px;
        border-radius: 100%; 
        overflow: hidden; 
        position: relative;
        float: left;
        margin-left: 5vw;
    }
    
    .profile_pic img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    }
    
    .biography_container {
        padding: 20px;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: block;
        float: left;
        width: 100%;
    }
    
    .short_bio {
        font-size: calc(2vw + 8px);
        color: #333;
        margin-top: 10px;
        margin-left: 45vw
    }

    .project1_pic {
        width: 40.33vw; 
        height: 45.33vw; 
        overflow: hidden; 
        position: relative;
        margin-left: 20px;
        float: right;
    }

    .project1 {
        padding: 10px;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: inline-block;
        width: 100%;
        text-align: left;
        font-size: calc(2vw + 3px);
    }

    .project2_pic {
        width: 49.33vw; 
        height: 45.33vw; 
        overflow: hidden; 
        position: relative;
        margin-left: 20px;
        float: left;
    }

    .project2_pic img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        position: absolute; 
        object-position: right;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }

    .project2 {
        padding: 10px;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: inline-block;
        width: 100%;
        text-align: right;
        font-size: calc(2vw + 3px);
    }

    .project3_pic {
        width: 57.33vw; 
        height: 45.33vw; 
        overflow: hidden; 
        position: relative;
        margin-left: 20px;
        float: right;
    }

    .project3 {
        padding: 10px;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: inline-block;
        width: 100%;
        text-align: left;
        font-size: calc(2vw + 3px);
    }
}

